<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>iplBidding</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>main.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamOff</display-name>
    <servlet-name>TeamOff</servlet-name>
    <servlet-class>main.TeamOff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamOff</servlet-name>
    <url-pattern>/TeamOff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>main.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BiddingManager</display-name>
    <servlet-name>BiddingManager</servlet-name>
    <servlet-class>main.BiddingManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BiddingManager</servlet-name>
    <url-pattern>/BiddingManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BidStatus</display-name>
    <servlet-name>BidStatus</servlet-name>
    <servlet-class>main.BidStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidStatus</servlet-name>
    <url-pattern>/BidStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dummy</display-name>
    <servlet-name>Dummy</servlet-name>
    <servlet-class>main.Dummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dummy</servlet-name>
    <url-pattern>/Dummy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Player</display-name>
    <servlet-name>Player</servlet-name>
    <servlet-class>main.Player</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Player</servlet-name>
    <url-pattern>/Player</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Submit</display-name>
    <servlet-name>Submit</servlet-name>
    <servlet-class>main.Submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submit</servlet-name>
    <url-pattern>/Submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamBidEntry</display-name>
    <servlet-name>TeamBidEntry</servlet-name>
    <servlet-class>main.TeamBidEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamBidEntry</servlet-name>
    <url-pattern>/TeamBidEntry</url-pattern>
  </servlet-mapping>
</web-app>